@model IEnumerable<BeanScene1._1.Models.Reservations>

@{
    ViewData["Title"] = "Index";
}
<body class="home-page">

<h1>Reservations</h1>

<a asp-action="Create" class=" btn btn-lg btn-primary">
        Create
    </a>


<table class="reservation-table">
    
        <tr class="reservation-headers">
            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.Lastname)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationType)</th>
            <th>@Html.DisplayNameFor(model => model.Notes)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>Assigned Table</th>
            <th>@Html.DisplayNameFor(model => model.AppUser.Email)</th>
            <th>Options</th>
        </tr>
    

    
        @foreach (var item in Model)
        {
            <tr class="reservation-items">
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>@item.ReservationType</td>
                <td>@item.Notes</td>
                <td>@item.Status</td>

                
                <td>
                    @if (item.ReservationTables != null &&
                                    item.ReservationTables.Any() &&
                                    item.ReservationTables.First().Table != null)
                    {
                        @item.ReservationTables.First().Table.TableName
                    }
                    else
                    {
                        <span class="text-muted">Not Assigned</span>
                    }
                </td>

                <td>@item.AppUser.Email</td>

                <!-- ✅ ACTION BUTTONS -->
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.ReservationsId"
                       class="btn btn-sm btn-primary">
                        Details
                    </a>

                    

                    <a asp-action="Delete"
                       asp-route-id="@item.ReservationsId"
                       class="btn btn-sm btn-primary">
                        Delete
                    </a>
                </td>
            </tr>
        }
    
</table>

</body>