@model BeanScene1._1.Models.Report
<body class="home-page"> 
<h1>Reservation Report Dashboard</h1>


<form method="get">
    <select name="reportType" onchange="this.form.submit()">
        <option value="Time"
            selected="@(ViewBag.ReportType =="Time")">
            Time-Based Reservations
        </option>

        <option value="Status"
            selected="@(ViewBag.ReportType == "Status")">
            Status
        </option>
        <option value="ReservationType"
                selected="@(ViewBag.ReportType == "ReservationType")">
            Reservation Type
        </option>
        
    </select>
</form>


@if (ViewBag.ReportType == "Time")
{
    <h3 class="mt-5 Time-Based Reservations">Time-Based Reservations</h3>

    <table class="reservation-table" text-center">
        <tr class="reservation-headers">
            <th>Today</th>
            <th>This Week</th>
            <th>This Month</th>
        </tr>
        <tr class="reservation-items">
            <td>@Model.TodayReservations</td>
            <td>@Model.ThisWeekReservations</td>
            <td>@Model.ThisMonthReservations</td>
        </tr>
    </table>
}

@if (ViewBag.ReportType == "Status")
{
    <!-- ✅ UPCOMING / OVERDUE -->
    <h3 class="mt-5">System Status</h3>

    <table class="reservation-table" text-center">
        <tr class="reservation-headers">
            <th>Upcoming Reservations</th>
            <th>Overdue / Past Reservations</th>
        </tr>
        <tr class="reservation-items">
            <td>
                @Model.UpcomingReservations
            </td>
            <td>
                @Model.OverdueReservations
            </td>
        </tr>
    </table>
}

@if (ViewBag.ReportType == "ReservationType")
{
    <h3 class="mt-5">Reservation Types</h3>

    <table class="reservation-table" text-center">
        <tr class="reservation-headers">
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
        </tr>
        <tr class="reservation-items">
            <td>@Model.Breakfast</td>
            <td>@Model.Lunch</td>
            <td>@Model.Dinner</td>
        </tr>
    </table>
}


</body>