@model IEnumerable<BeanScene1._1.Models.Menu>

@{
    ViewData["Title"] = "Index";
}
<body class="home-page">

    <h1>Edit Menu</h1>

    <a asp-action="Create" class=" create-reservation btn btn-sm">
        Create
    </a>


    <table class="reservation-table">

        <tr class="reservation-headers">
            <th>@Html.DisplayNameFor(model => model.ItemName)</th>
            <th>@Html.DisplayNameFor(model => model.ItemPrice)</th>
            <th>@Html.DisplayNameFor(model => model.ItemType)</th>
            
            <th>Options</th>
        </tr>

    

        @foreach (var item in Model)
        {
            <tr class="reservation-items">
                <td>@item.ItemName</td>
                <td>@item.ItemPrice</td>
                <td>@item.ItemType</td>
            
                <td>
                  
                    <a asp-action="Delete"
                       asp-route-id="@item.MenuId"
                       class="btn btn-sm  btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }

    </table>

</body>