@model IEnumerable<BeanScene1._1.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Tables</h1>

<p>
    <a asp-action="Create" class= "btn btn-warning btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areas.AreaId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TableId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TableId" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TableId" class="btn btn-info btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
